body {
    padding: 0;
    margin: 0;

}

.background {
    background-image: url("../images/background.jpg");
    background-color: blanchedalmond;
    height: 1200px;
    Width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.container {
    background-color: red;
    height: 400px;
    width: 600px;
    border-radius: 25px;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;

}
.controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}
.btn {
    width: 200px;
    height: 40px;
    margin: 5px auto;
    border-radius: 5px;
}
.btn:hover {
    background-color: antiquewhite;
}
.hide {
    display: none;
}