body {
    padding: 0;
    margin: 0;
    font-family: "MedievalSharp",sans-serif;
}
.background {
    background-image: url("../images/background.webp");
    height: 1200px;
    Width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.container {
    background-color: antiquewhite;
    height: 450px;
    width: 600px;
    max-width: 80%;
    border-radius: 25px;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
 }
#answer-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}
.btn {
    width: 200px;
    height: 40px;
    margin: 5px auto;
    border-radius: 5px;
}
.btn:hover {
    background-color: #FFFBF5;
}
.hide {
    display: none;
}
/* correct and incorrect to set the color to green o red depending on which was clicked */
.correct {
    color:black !important;
    background-color: rgba(0, 128, 0, 0.5) !important
}
.incorrect {
    color:black !important;
    background-color: rgba(255, 0, 0, 0.5) !important;
}

/* Media queries*/
@media only screen and (max-height: 1024px) {
    .background {
    height: 1024px;
}
}

@media only screen and (max-height: 600px) {
    .background {
    height: 600px;
}
}

