body {
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;

}

.background {
    background-image: url("../images/background.jpg");
    background-color: blanchedalmond;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
